ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--main-navbar-color);
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    margin: 10px 10px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(0, 99, 99);
}

.selected {
    background-color: rgb(0, 145, 145);
}